*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} 


header {

    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* CENTRALIZA horizontalmente */
    gap: 40px; /* espaço entre os itens */
  
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 26px;
    font-weight: bold;
    padding: 10 px 20px;
}

nav ul li a:hover {
    background-color: #d40485;
    color: #fff;
    border-radius: 4px;
}